footer{
    grid-area: footer;
}
.colorFooter{
    background-color: #F8B349;
}

.pieDePagina{
    margin-bottom: 0%;
    height: 100px;
    background-color: #F8B349;
}

.pie__contenedor{
    max-width: 100%;
    margin: 0 auto;

}

.pie__lista{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
}

li.pie{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pie__lista a{
    text-decoration: none;
}